section {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-wrap: wrap;

    .item {
        border: 1px solid chartreuse;
        margin: 1vw;
        padding: 1vw;
        width: 200px;
        /* Độ lớn phải tuyệt đối thì sẽ xuống hàng*/
        height: 200px;
    }
}

/**
<section>
        <div class="item">1</div>
        <div class="item">2</div>
        <div class="item">3</div>
        <div class="item">4</div>

</section>
*/

/*xem them ve ko layout ko can mediaquery cua blog*/
body {
    padding: 2rem;
    margin: 0 auto;
    /* keo dan het ra thi cung chi rong 60rem*/
    max-width: 60rem;

}

/*khoảng cách bên ngoài vs phần khác*/
$margin: 1rem;
/*40rem = 40 * 16px = 640px 
    vi co 2rem margin mà view = 671px se xuong dong
    + 100% chinh la do dai view port
*/
$modifier: calc(40rem - 100%);

.container {
    display: flex;
    /*xuống dòng khi container < flex-basis*/
    flex-wrap: wrap;

    /* xóa margin dưa thừa đi = - margin của item*/
    margin: ($margin * -1);
}

.container>* {
    /* background-color: #000;*/
    border: 1px red solid;
    /* width của item ko nhỏ hơn 33% - 2 * margin = chia 3 cot*/
    min-width: calc(33% - (#{$margin} * 2));
    max-width: 100%;
    flex-grow: 1;
    /*cai nay lam xuong dong khi width container nho lai*/
    /*quan trong nhat la 40rem*/
    flex-basis: calc(#{$modifier} * 999);
    height: 20vh;
    margin: $margin;
}

/**
        <div class="container" role="group" aria-label="Three items at either 33% or 100% width">
                <div></div>
                <div></div>
                <div></div>
        </div>
*/